body { 
background: #000000; 
overflow-x: hidden;
} 

#midlwear-head{
  top:0;
  position:sticky;
  height: 250px;
  background: linear-gradient(0deg, rgba(251,251,251,0) 0%, rgba(0,0,0,0.8225665266106442) 43%);
}
#midlwear-bottom{
  bottom:0;
  position:sticky;
  height: 250px;
  background: linear-gradient(180deg, rgba(251,251,251,0) 0%, rgba(0,0,0,0.8225665266106442) 43%);
  }
#head-img{
  background-color: black;
  margin:0px;
}
#head-img>img{
  width: 100%;
}

.main>img{
  width:50%;
}

 .trinagle-block{
  position: fixed;
  z-index: -1;
  top:200px;
  left: 5%;
  width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent; 
  border-right:100px solid white;
}
